body{
    background-color: rgb(170, 164, 164);
}

h1{
    font-size: 250%;
    box-shadow: 150%;
    font-style:italic;
    text-align: center;
    color: rgb(3, 156, 173);
}

h2{
    text-decoration: underline;
    font-size: 150%;
    font-family: cursive;
    color: purple;
}

p{
    font-size: 125%;
    font-family: sans-serif;
}

header{
    background-color: purple;
    width:100%;
    height:500%;
}
